# See https://help.github.com/ignore-files/ for more about ignoring files.

# generated
/node_modules
/launcher/electron/node_modules
/launcher/electron/release
/launcher/electron/dist
/workers/raytracer/node_modules
/workers/raytracer/dist

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist
idDatabase
folderDatabase
/Assets
